@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f5;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #4d4b4bc4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7979c4;
}

.default-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.page-transition {
  animation: pageTransition 1s linear;
}

@keyframes pageTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
