<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Moon Project V1 Docs</title>
  </head>
  <body>
    <main>
      <h1>Crypto Moon Project API - alpha version</h1>
      <h2>
        Docs link:
        <a
          href="https://documenter.getpostman.com/view/16898158/UVysxFzY"
          target="_blank"
          >https://documenter.getpostman.com/view/16898158/UVysxFzY</a
        >
      </h2>
    </main>
  </body>
  <style>
    body {
      background-color: #18181b;
    }
    h1 {
      color: #e4e4e7;
    }
    h2 {
      color: #e4e4e7;
    }
    a {
      text-decoration: none;
      color: #d42d42;
    }
  </style>
</html>
